.profile {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1.5px;

  > img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 2px solid #fff;
  }

  .profileDetails {
    .name {
      margin: 10px 0;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }

    .position_bg {
      padding: 3px 15px;
      border-radius: 20px;
      background-color: #e3651d;
      border: 1px solid #ffffff;
      font-weight: 700;
      color: #fff;

      .position {
      }
    }
  }
}
