.sidebar {
  border-radius: 8px;
  width: 305px;
  height: calc(100svh - 2.5rem);
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  .divider {
    margin: 20px 0;
    height: 1px;
    background-color: #3a3c56;
  }

  .content {
    padding: 30px 10px;

    .profile {
      width: max-content;
      margin: 0 auto;
      text-align: center;

      > img {
        height: 200px;
        width: 200px;
        border-radius: 100%;
      }

      .profileDetails {
        .name {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
          color: #fff;
        }

        .position_bg {
          border-radius: 20px;
          background-color: #fff;
          .position {
            letter-spacing: 1.5px;
          }
        }
      }
    }
  }
}
