// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: "Orbitron", sans-serif;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

body {
  // background: linear-gradient(-45deg, #110e53, #0b1329, #03284b, #23d5ab);
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  // height: 100vh;
  // background-color: #28293e;
  background-color: #191919;
}

// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
