*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.HeroContainer{
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    // background-color: aqua;
    .ScrollContainer{
        display: inline-flex; 
        max-width: max-content;
        overflow-x: hidden;
        .HeroContainer-Item{
            height: 100vh;
            width: 100vw;
            background-color: blue;
            outline: solid orange; 
        }
    }
}